{% extends 'html/base.html' %}
{% block title %} AdminLogin {% endblock %}
{% block content %}
<div class="container">
	{% if messages %}
	{% for j in messages %}
	<div class="alert alert-{{j.tags}} alert-dismissible mt-2">
  		<button type="button" class="close m-2" data-dismiss="alert">&times;</button>
	</div>
	{% endfor %}
	{% endif %}
	<div class="card col-md-5 mx-auto mt-5 shadow-lg">
		<h2 class="p-1 my-2 mx-3">admin</h2>
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
			<input type="text" name="username" class="form-control my-2" placeholder="Username">
			<input type="password" name="password" class="form-control my-2" placeholder="Password">
			<input type="submit" value="Login" class="btn btn-success btn-block my-2">
			<a href="{% url 'rg' %}" class="btn btn-block btn-info text-light mb-2">Create New User</a>
		</form>
		</div>
	</div>
</div>
{% endblock %}