{% extends 'html/base.html' %}
{% block title %} Booking {% endblock %}
{% load static %}
{% block content %}
<div>
	<h4 class="p-3 bg-success text-center mt-2">book from available hotels</h4>
	
</div>
<div class="container  text-danger">
	<div class="card shadow-lg col-md-4 mx-auto mt-5">
<img src="{% static 'img/slide/sl1.jpg' %}"  style="width:100%">
<h1>Marasa Sarovar</h1>
	<input type="submit" value="ViewDetails" class="btn btn-success  my-1">
	<input type="submit" class="btn btn-primary my-3 p-1" value="BookNow">
	
</div>
<div class="container  text-danger">
	<div class="card shadow-lg col-md-4 mx-auto mt-5">
<img src="{% static 'img/slide/img4.jpg' %}"  style="width:100%">
<h1>Taj</h1>
	<input type="submit" value="ViewDetails" class="btn btn-success  my-1">
	<input type="submit" class="btn btn-primary my-3 p-1" value="BookNow">
	
</div>
</div>
</div>
{% endblock %}
