{% extends 'html/base.html' %}
{% block title %} Booking {% endblock %}
{% load static %}
{% block content %}
<div>
	<h4 class="p-3 bg-success text-center mt-2">book from available hotels</h4>
	
</div>
<div class="container p-1 my-1 bg-info text-white">
<img src="{% static 'img/slide/sl1.jpg' %}"  style="width:20%">
<h1>Marasa Sarovar</h1>
	<input type="submit" value="ViewDetails" class="btn btn-success  my-1">
	<input type="submit" class="btn btn-primary my-3 p-1" value="BookNow">
	
</div>
</div>
</div>
</div>
</div>



			
				





{% endblock %}
