{% load static %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- <a class="navbar-brand" href="#">Home</a> -->
  <a class="navbar-brand" href="{% url 'hm' %}">
    <img src="{% static 'img/logo3.png' %}" alt="logo" style="width:90px;height:60px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hm' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ab' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cn' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'rg' %}">Registration</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hm' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'book' %}">Booking</a>
      </li>
      {% endif %}   
    </ul>
    <ul class="navbar-nav ml-auto" style="margin-right:120px">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lg' %}">Login</a>
      </li>
      {% else %}
      <li class="dropdown">
      <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
         <img src="{{user.updf.im.url}}" height="33px" width="35px" class="rounded-circle" />  {{user.username}} 
       </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'pf' %}">Profile</a>
        <a class="dropdown-item" href="{% url 'adh' %}">addhotel</a>
        <a class="dropdown-item" href="{% url 'lgo' %}">Logout</a>
      </div>
    </li>
    {% endif %}
    </ul>
  </div>  
</nav>