{% extends 'html/base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="container-fluid">
	{% if messages %}
	{% for j in messages %}
	<div class="alert alert-{{j.tags}} alert-dismissible mt-2">
	<button type="button" class="close" data-dismiss="alert">&times;</button><img src="{% static 'img/avatar.png' %}" class="rounded-circle" height="40px" width="50px"/>{{j}}
	</div>
	{% endfor %}
	{% endif %}
	<div class="row mt-3 mx-3">
		<div class="col-md-3 h-100">
			<div class="card border-info">
				<img src="{{user.updf.im.url}}" class="card-img-top rounded" height="230px" width="100%"/>
				<div class="card-footer">
					<h2 class="bg-info text-center text-white border rounded p-2">Hi, {{user.username}}</h2>
				</div>
			</div>
		</div>
		<div class="col-md">
			<div class="card border-success">
				<h3 class="bg-dark text-white text-center p-2">Details</h3>
				<table class="table table-borderless mx-5">
					<tr>
						<th>First Name</th>
						<td>{{user.first_name}}</td>
					</tr>
					<tr>
						<th>Last Name</th>
						<td>{{user.last_name}}</td>
					</tr>
					<tr>
						<th>Emailid</th>
						<td>{{user.email}}</td>
					</tr>
					<tr>
						<th>Gender</th>
						<td>{{user.updf.gender}}</td>
					</tr>
					<tr>
						<th>Age</th>
						<td>{{user.updf.age}}</td>
					</tr>
					<tr>
						<th>Account Created</th>
						<td>{{user.date_joined}}</td>
					</tr>
				</table>
				<a href="{% url 'upf' %}" class="btn btn-warning m-2 text-light"><h4>Update Profile</h4></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}