{% extends 'html/base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="container">
  <div class="card  col-md-6 mt-4 mx-auto bg-info shadow-lg">
    <div class="card-body">
      <h2 class="text-white p-3 text-center border-rounded">Registration</h2>
      <form method="post">
      {% csrf_token %}
    <!-- <table class="table table-borderless"> -->
      {% for m in k %}
      <!-- <tr> -->
        <div class="my-2">{{m}}</div>
      <!-- </tr> -->
      {% endfor %}
    <!-- </table> -->
    <input type="submit" class="form-control btn btn-success btn-block my-2" value="Submit">
    </form>
    </div>
  </div>
</div>
{% endblock %}


