{% extends 'html/base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="container">
  <div class="card shadow-lg col-md-5 mx-auto mt-5">
    <div class="card-body">
      <h2 class="my-2">Registration</h2>
      <form method="post">
      {% csrf_token %}
    <!-- <table class="table table-borderless"> -->
      {% for m in k %}
      <!-- <tr> -->
        <div class="my-2">{{m}}</div>
      <!-- </tr> -->
      {% endfor %}
    <!-- </table> -->
    <input type="submit" class="btn btn-block btn-primary my-2 p-2" value="Subscribe">
    </form>
    </div>
  </div>
</div>
{% endblock %}


